<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../img/odin.ico">
    <link rel="stylesheet" href="index.css">
    <title>Mitologia Nordica</title>
</head>
<body>
    <header class="theme">
        <div id="left">
            <!-- <img src="../img/odin.png"> -->
            <h1>Card-Game</h1>
        </div>
    </header>
    <main>
       <a href="/login"> <button class="btns ambos">Login</button></a>
        <a href="/choose"> <button class="btns ambos"> Jogar</button></a>
    </main>
    <footer class="theme">
        <h5>Por Rai e Misael</h5>
    </footer>
</body>
</html>