<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastrar.css">
    <title>Cadastrar Carta</title>
</head>
<body>
    <section id="aute">
        <div id="login">
            <div>
                <h2>Cadastrar Heroi</h2>
            </div>
            <form>
                <label>Name:</label>
                <input id="nome" type="text" >
                <label>Slug:</label>
                <input id="slug" type="text" >
                <label>Intelligence:</label>
                <input id="intelligence" type="number" >
                <label>Strength:</label>
                <input id="strength" type="number" >
                <label>Speed:</label>
                <input id="speed"type="number" >
                <label>Durability:</label>
                <input id="durability" type="number">
                <label>Power:</label>
                <input  id="power"type="number" >
                <label>Combat:</label>
                <input  id="combat"type="number" >
                <div>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <div>
                <button id="download">download</button>
            </div>
        </div>
    </section>
</body>
<script src="cadastro.js"></script>
</html>